.App {
    background-color: #efeff0;
}

.header {
    height: 5rem;
    background-color: rgb(4, 20, 73);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    height: 2.25rem;
    margin-left: 1rem;
}

.content {
    padding: 1rem;
}
